<div class="main">
    <div class="container">
         <h1>Create and Share Stories</h1>
         <%= link_to "Learn More", 'about', class: "btn"%>
    </div>
</div>

<div class="supporting">
    <div class="container">
      <h2>Relive and share your adventures</h2>
      <p>Stories automatically creates a digital journal filled with only your best photos.</p>
    </div>
</div>

<div class="secondary">
    <div class="container">
    </div>
</div>

<div class="discover">
  <div class="supporting">
     <div class="container">
        <h2>Discover Stories</h2>
        <p>Don't have your own story yet? Search for other users heartwarming,fun,or adventurous experiences.</p>
    </div>
  </div>
</div>




