<div class="main">
    <div class="container">
         <h1>Create and Share Stories</h1>
         <a href="#" class="btn">Learn More</a>
    </div>
</div>

<div class="supporting">
    <div class="container">
    </div>
</div>

<div class="secondary">
    <div class="container">
    </div>
</div>

<div class="discover">
    <div class= "container">
    </div>
</div>

<div class="footer">
    <div class="container">
    </div>
</div>

