// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  width: 940px;
  margin: 0 auto;
}

.main {
  height: 500px;
  height: 800px;
  background: no-repeat center center fixed;
  background-image: image_url("granny.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.main h1, a {
  position: relative;
  float: right;
}

.main h1 {
  top: 300px;
  font-size: 50px;
  text-shadow: 0 2px 3px rgba(0,0,0,.4);
  color: #ffffff;
}
.main .btn {
  top: 450px;
  left: 350px;
  color: #fff;
  background-color: #000;
  padding: 10px 20px;
  box-shadow:0 2px 4px rgba(0,0,0,.5);
}

.supporting h2, p{
  text-align: center;

}

.supporting h2 {
  padding-top: 100px;
  font-size: 70px;
}

.supporting p {
  padding-top: 20px;
  font-size: 20px;
  padding-bottom: 100px;
}

.secondary {
  height: 500px;
  height: 800px;
  background: no-repeat center center fixed;
  background-image: image_url("rockconcert.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.discover h2 {
  text-align: center;
  padding-top: 100px;
  font-size: 70px;
}

.discover .btn_discover {
  top: 50px;
  right: 425px;
  bottom: 100px;
  color: #fff;
  background-color: #000;
  padding: 10px 20px;
  box-shadow:0 2px 4px rgba(0,0,0,.5);
}

.footer {
  background-color: #000000;
}
.footer h6 {
  padding-top: 10px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}

